{% extends 'basic.html' %}
{% load static %}

        {%block titulosp%}
            {{titulo}}
        {%endblock titulosp%}
        {% block head %}
        
        <link href="{% static 'css/UA/registro.css' %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% endblock head%}

{% block contenido %}
<div class="content">
    <div class="card">
        <form action="{% url destino %}" method='POST' class="needs-validation" novalidate>
            {% csrf_token %}
            <input type="hidden" name="id" value="{{licenciatura.id}}">
            <div class="card-header banner">
                <h5>{{titulo}}</h5>
            </div>
            <div class="card-body">
                <div class="input-group mb-3">
                    <span class="input-group-text material-icons" id="">info</span>
                    <input type="text" class="form-control" placeholder="Nombre de la Licenciatura" 
                        name="nombre" pattern="[A-Za-zÀ-ÿ&\-\s]{3,100}" value="{{licenciatura.nombre}}" required>
                    <div class="invalid-feedback">
                        Por lo menos 3 caracteres de longitud y máximo 100. :D
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text material-icons" id="">title</span>
                    <input type="text" class="form-control" placeholder="Siglas" 
                        name="siglas" pattern="[A-Z]{2,4}" value="{{licenciatura.siglas}}" required>
                    <div class="invalid-feedback">
                        Caracteres de la A a la Z (exceptuando caracteres especiales tales como ñ, con acentos, etc.), de longitud mínima de 3 y máximo 4 en mayúsculas. :D
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text material-icons" id="">calendar_today</span>
                    <input type="number" class="form-control" placeholder="Versión" name="version" min="0" value="{{licenciatura.version}}" required>
                    <div class="invalid-feedback">
                        Se acepta solo números mayores a 0.
                    </div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text material-icons">fact_check</span>
                    <select  id="coordinador_s" class="form-select" name="coordinador" required>
                        <option value="" disabled selected>Seleccione una coordinador</option>
                        {% for c in coordinadores %}
                            <option value="{{c.id}}">{{c.pk}} - {{c.user.first_name}} - {{c.user.last_name}}</option>
                        {% empty %}
                            <option value="">Sin datos</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="invalid-feedback">
                    Rellena la información pedida.
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-center" style="margin-bottom: 10%;">
                    <button class="btn grenncolor text-white" type="submit"> Guardar</button>
                </div>
            </div>
        </form>    
    </div>
</div>
{% endblock contenido %}


{% block script %}
    
    {{licenciatura.coordinador.id|json_script:"coordinador" }}
    <script src="{% static 'js/UA/validaciones.js' %}" ></script>
    <script src="{% static 'js/UA/formulario_licenciatura.js' %}" ></script>
{% endblock script%}
